.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: grey;
}

h2{
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
  padding: 30px;
  border-radius: 20px;
  border: 5px solid black;
}

.student{
  border: solid 3px black;
  width:30%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
  color: white;
  border-radius: 20px;
  
}

.student>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height:50px
}

button{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px black;
}

button:hover{
  cursor: pointer;
}

route{
  display: flex;
}